In [8]:
t=("satish")
t3=("satijs",)
# print(type(t))
t2=(123)
t4=(123,)

print(f"{type(t2)} and {type(t)} and {type(t3)} and{type(t4)}")

t5=(123,"123",(1,2,3))
print(f"{t5} and its type {type(t5)}")

<class 'int'> and <class 'str'> and <class 'tuple'> and<class 'tuple'>
(123, '123', (1, 2, 3)) and its type <class 'tuple'>

Operation In tuple

In [15]:
t=(1,2,3,4,5,6,7)
print(t[:7])
print(t[:-1])
print(t[:])

# t[4]=8 TypeError: 'tuple' object does not support item assignment

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7)

TOUPLE IS IMMUTABLE 
SO WE CANT BE ASSIGN VALUE

In [ ]:
t=(1,2,3,4,5,6,[7,8,9])
t[6][0]=61   #  at 7 it placed 61
print(t[6])

t[6][1]="Me List hu ji "
print(t[6])

[61, 8, 9]
[61, 'Me List hu ji ', 9]

In [ ]:
#Concatenation of two tuple
t=(1,2,3,4,5,6,7,8,9,10)+(11,12,13,14,15,16,17,18,19,20)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [ ]:
#TO PRINT IN REPEATION OF TH NUMBER 
t=(("Hey Hey Hey ")*4)
t1=(("Moye Moye  ")*4)
print(t,end="")
print(t1)

Hey Hey Hey Hey Hey Hey Hey Hey Hey Hey Hey Hey Moye Moye  Moye Moye  Moye Moye  Moye Moye
ejekn

In [36]:
#HOW TO DELET THE ELEMENT OF THE TUPLE
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(t)
del t
# print(t) name 't' is not defined

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [ ]:
#to count thre occrience of number
t=(1, 2, 3, 4, 5, 6, 7, 8, 9,1,1,2,2,1,3,2,2,3,2,2,3,2,2,23,2,2, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(t.count(1))
print(t.count(2))
print(t.count(3))
print(t.count(23))

4
11
4
1

In [45]:
#index of 
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(t.index(4))

# MemberShip Operator
print(1 in t , 22 in t)

print("length",len(t))

t1=(34,45,54,45,56,76,67,87,76,56,65,5,65,56,6)
print(sorted(t))

3
True False
length 20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]